.recipe {
  background-color: $color-grey-light-1;

  ///////////
  // FIGURE
  &__fig {
    height: fit-content;
    width: 100%;
    position: relative;
    // transform: scale(1.04) translateY(-1px);
    transform-origin: top;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        $color-grad-3,
        $color-grad-2
      );
      opacity: 0.6;
    }
  }

  &__img {
    width: fit-content;
    display: block;
    height: fit-content;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: #fff;
    font-weight: 700;
    font-size: 3.25rem;
    text-transform: uppercase;
    width: 50%;
    line-height: 1.95;
    text-align: center;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-image: linear-gradient(
        to right bottom,
        $color-grad-1,
        $color-grad-2
      );
    }

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
    }
  }

  &__additionally {
    display: flex;
    flex-direction: row;
  }

  &__nutrition {
    margin: 15px 25px;
    &--body {
      #spoonacular-nutrition-label, #spoonacular-nutrition-ingredient-list {
        border:1px solid black;
        margin:0 auto;
        width:300px;
        padding:.5rem;
        font-family:Helvetica,Arial,sans-serif,sans-serif;
        font-size:14px;
        color:#333;
        background-color:#fff;
      }
      #spoonacular-nutrition-ingredient-list {
        text-transform:uppercase;
      }
      #spoonacular-nutrition-label div.separator {
        border-bottom:10px solid black;
      }
      #spoonacular-nutrition-label>div:first-of-type {
        border-bottom:10px solid black;
        padding:0 0 .25rem 0;
        margin:0 0 .5rem 0;
      }
      #spoonacular-nutrition-label>div:first-of-type p {
        margin:0;
        font-size:16px;
      }
      #spoonacular-nutrition-label table {
        border-collapse:unset;
        border-spacing:0;
        font-size:14px;
        width:100%;
      }
      #spoonacular-nutrition-label table td {
        font-weight:normal;
        text-align:left;
        padding:.3rem 0;
        border-top:1px solid black;
        vertical-align:middle;
      }
      #spoonacular-nutrition-label table .empty {
        width:1rem;border-top:0;
      }
      #spoonacular-nutrition-label table #calorie-summary td {
        font-size:33px;
        border:0 none!important;
      }
      #spoonacular-nutrition-label b {
        font-weight:900;
      }
      #spoonacular-nutrition-label .separator td {
        border-top-width:5px;
      }
      #spoonacular-nutrition-label table:first-of-type td:last-child {
        text-align:right!important;
      }
      #spoonacular-nutrition-label table:nth-of-type(2) td:first-child {
        text-align:left!important;
      }
      #spoonacular-nutrition-label table:nth-of-type(2) td:nth-of-type(2) {
        text-align:right!important;
      }
      #spoonacular-nutrition-label .small {
        font-size:11px;
      }
      #spoonacular-nutrition-label h1.separator {
        border-bottom:1px solid black;
      }
      #spoonacular-nutrition-label h1 {
        font-size:35px;
        margin:0 0 .25rem 0};          
    }
  }

  ///////////
  // DETAILS
  &__details {
    display: flex;
    align-items: center;
    padding: 7.5rem 8rem 3.5rem 8rem;

    .btn--product {
      margin-left: 10px;
    }
  }

  &__info {
    font-size: 1.65rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  &__info-icon {
    height: 2.35rem;
    width: 2.35rem;
    fill: $color-primary;
    margin-right: 1.15rem;
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    background-color: darken($color-grey-light-2, 2%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;
    margin-left: auto;
    margin-right: 1.75rem;

    svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: $color-primary;
    }

  }

  ///////////
  // INGREDIENTS
  &__ingredients {
    padding: 5rem 8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: $color-grey-light-2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3rem;
    list-style: none;
  }

  &__ingredient {
    display: flex;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
    margin-right: 1.1rem;
    flex: 0 0 auto;
    margin-top: 0.1rem;
  }

  &__quantity {
    margin-right: 0.5rem;
    flex: 0 0 auto;
  }

  ///////////
  // DIRECTIONS
  &__directions {
    padding: 5rem 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: $color-grey-dark-2;
  }

  &__publisher {
    font-weight: 700;
  }
}
